<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/img.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main-content">
        {{>header}}
        <p>
            {{name}}
        </p>
        <img class="portrait" src="/img/everybody.jpg">
        </div>
        {{>footer}}
    </body>
</html>