<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/img.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main-content">
        {{>header}}
        <p>
          this page was created by {{name}}. This page uses mapbox.com and bluwsky.net
        </p>
        <img class="portrait" src="/img/everybody.jpg">
        </div>
        {{>footer}}
    </body>
</html>